@import url('https://fonts.googleapis.com/css2?family=Geologica:wght,CRSV@100..900,0&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Geologica;
  text-decoration: none;
  font-weight: 200;
}

body {
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px;


}
.nav-menu{
  position: absolute;
  top: 0;
  left: 0;
  display:none;
  justify-content: space-evenly;
  align-items: center;
  background-color:rgba(88, 123, 177, 1) ;
  z-index:999 ; 
  width:100%;
  height: 100%;
}
.nav-menu a{
font-size: 1.5rem;

}
.img-top img {
  width: 100%;
  overflow: hidden;
  object-fit: cover;

}

.img-top-paragraph {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-left: 2em;
  padding-right: 2em;
  margin-top: 20px;
  margin-bottom: 112px;
}

.img-top-paragraph p,
.img-bottom p {
  width: 60ch;
  padding-right: 2em;

}

.img-top-paragraph a {
  display: block;
}

.img-bottom img {
  width: 100%;
  overflow: hidden;
  object-fit: cover;

}

.img-bottom {
  position: relative;
}

.position-absolute {
  position: absolute;
  top: 20%;
  color: rgba(204, 200, 197, 1);
  padding-left: 2em;
}

.position-absolute p {
  padding-top: 1em;
}

.services {
  margin-top: 120px;
  padding-left: 2em;
}

.services-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: start;
  
}

h1 {
  padding-bottom: 0.5em;
}

.services p {
  padding-top: 1em;
  padding-bottom: 1em;
}
.services-content-img1 img{
  max-width: 518px;
  max-height: 652px;
}
.services-content-img2 img{
  max-width: 581px;
  max-height: 326px;
}
a {
  padding-top: 2em;
  text-decoration: none;
  color: black;
  transition: color .2s ease-in-out, padding .2s ease-in-out;
}

a:hover {
  color: rgba(0, 24, 74, 1);
  padding-left: 0.5rem;
}

/* process */
.process {
  margin-top: 120px;
  padding-left: 2em;

}

.process p {
  font-size: 1.5rem;
  width: 60ch;

}

/* gallery */
.projects{
  margin-top: 120px;
  text-align: center;
  
}
 
.image-wrapper{
  display: grid;
  grid-template-columns: 1fr;
 row-gap: .5rem;
  align-items: start;
  justify-content: center;
  
 
}
.projects img {
   /* height: 800px;   */
   width:100%; 
   display: block; 
  object-fit: cover;   
}

/* footer */

.contact{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  align-items: start;
  margin-top: 112px;
  margin-bottom: 40px;
  padding-left: 2em;
}
.contact-logo{
  font-size: 10rem;
  padding-bottom: 0;
  
}
.contact-cta{
  display: grid;
  grid-template-columns: 1fr;
  font-size: 3rem;
  padding-bottom: 4rem;
}
.small{
  font-size: 1.5rem;
  padding-top: 2rem;
}
.contact-socials{
 display: flex; 
 flex-direction: row;
 gap:2em ;
}
/* responsive footer */

@media (width<600px){
 
  .img-top-paragraph{
    display: flex;
    flex-direction: column-reverse;
  }
  .img-top-paragraph p,
  .position-absolute p,
  .services-content p,
  .process p
  {
    font-size: 0.8rem;
    width: 100%;
  }
  .services {
    padding-left: 0;
    
  }
  .services-content-img1 img{
  max-width: 100%;
  max-height: 100%;
  
}
.services-content-img2 img{
  max-width: 100%;
  max-height: 100%;
  
}
  .position-absolute p{
    padding-top: 0;
  }
  .position-absolute{
    position: relative;
    color: black;
    padding-top: 2em;
  }
  .contact{
    margin-top: 40px;
  }
 
}
@media (width<900px){
  .services-content {
  display: flex;
  flex-direction: column;
    
  }
}
 @media  (width < 1020px){
  .contact{
    display: grid;
    grid-template-columns: 1fr;
  }
  .contact-logo{
    font-size: 5rem;
  }
  .services-content p{
    width: 40ch;
  }
} 
