@import url('https://fonts.googleapis.com/css2?family=Geologica:wght,CRSV@100..900,0&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  font-family:Geologica;
  text-decoration: none;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px;
  
}